@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #66686b;
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #9b9ea1;
}

@media (prefers-color-scheme: light) {
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f0f0f0; /* Light background */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #b0b0b0; /* Light mode thumb color */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #8c8c8c; /* Light mode thumb hover color */
  }
}